<a href="https://colab.research.google.com/github/Allanjs1/python.unopar/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# CREATE (Criação da tabela e inserção de dados de exemplo)

conn = sqlite3.connect('contatos.db')

cursor = conn.cursor()

cursor.execute('''

    CREATE TABLE IF NOT EXISTS Contatos (

        id INTEGER PRIMARY KEY AUTOINCREMENT,

        nome TEXT,

        email TEXT,

        telefone TEXT

    )

''')

dados_exemplo = [

    ('João', 'joao@email.com', '123-456-7890'),

    ('Maria', 'maria@email.com', '987-654-3210'),

    ('Carlos', 'carlos@email.com', '555-555-5555')

]

cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)

conn.commit()

# READ (Leitura e exibição dos contatos)

cursor.execute('SELECT * FROM Contatos')

contatos = cursor.fetchall()

print("Contatos:")

for contato in contatos:

    print(contato)

# UPDATE (Atualização do número de telefone do contato com ID 2)

novo_telefone = '999-999-9999'

contato_id = 2



cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))

conn.commit()

# DELETE (Exclusão do contato com ID 1)

contato_id_para_excluir = 1



cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))

conn.commit()

# Fechando a conexão

conn.close()

Contatos:
(1, 'João', 'joao@email.com', '123-456-7890')
(2, 'Maria', 'maria@email.com', '987-654-3210')
(3, 'Carlos', 'carlos@email.com', '555-555-5555')

In [ ]:
import sqlite3

# Conectando ao banco de dados

conn = sqlite3.connect('exemplo.db')

cursor = conn.cursor()

# Dados do novo produto

novo_produto = ('Camiseta', 19.99, 50)

# Comando SQL para inserir o novo produto na tabela

inserir_produto = "INSERT INTO Produtos (nome, preco, estoque) VALUES (?, ?, ?)"

# Executando o comando SQL para inserção

cursor.execute(inserir_produto, novo_produto)

# Confirmando as alterações

conn.commit()

# Fechando a conexão

conn.close()

import sqlite3

OperationalError: no such table: Produtos