<a href="https://colab.research.google.com/github/Allanjs1/python.unopar/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import sqlite3

# CREATE (Criação da tabela e inserção de dados de exemplo)

conn = sqlite3.connect('contatos.db')

cursor = conn.cursor()

cursor.execute('''

    CREATE TABLE IF NOT EXISTS Contatos (

        id INTEGER PRIMARY KEY AUTOINCREMENT,

        nome TEXT,

        email TEXT,

        telefone TEXT

    )

''')

dados_exemplo = [

    ('João', 'joao@email.com', '123-456-7890'),

    ('Maria', 'maria@email.com', '987-654-3210'),

    ('Carlos', 'carlos@email.com', '555-555-5555')

]

cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)

conn.commit()

# READ (Leitura e exibição dos contatos)

cursor.execute('SELECT * FROM Contatos')

contatos = cursor.fetchall()

print("Contatos:")

for contato in contatos:

    print(contato)

# UPDATE (Atualização do número de telefone do contato com ID 2)

novo_telefone = '999-999-9999'

contato_id = 2



cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))

conn.commit()

# DELETE (Exclusão do contato com ID 1)

contato_id_para_excluir = 1



cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))

conn.commit()

# Fechando a conexão

conn.close()

Contatos:
(2, 'Maria', 'maria@email.com', '999-999-9999')
(3, 'Carlos', 'carlos@email.com', '555-555-5555')
(4, 'João', 'joao@email.com', '123-456-7890')
(5, 'Maria', 'maria@email.com', '987-654-3210')
(6, 'Carlos', 'carlos@email.com', '555-555-5555')
(7, 'João', 'joao@email.com', '123-456-7890')
(8, 'Maria', 'maria@email.com', '987-654-3210')
(9, 'Carlos', 'carlos@email.com', '555-555-5555')

In [14]:
import pandas as pd


# Criando uma lista de valores

data = [10, 20, 30, 40, 50]

# Criando uma Series a partir da lista

series1 = pd.Series(data)

print(data)

print(series1)

[10, 20, 30, 40, 50]
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [19]:
import pandas as pd



# Criando um dicionário com pares chave-valor

data = {'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}


# Criando uma Series a partir do dicionário

series2 = pd.Series(data)


print(data)
print(series2)

{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}
A    100
B    200
C    300
D    400
E    500
dtype: int64

In [20]:
import pandas as pd

url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

dfs = pd.read_html(url)


print(type(dfs))
print(len(dfs))

<class 'list'>
1

In [21]:
df_bancos = dfs[0]

In [22]:
print(df_bancos.shape)

(10, 7)

In [23]:
print(df_bancos.dtypes)

Bank Name               object
City                    object
State                   object
Cert                     int64
Aquiring Institution    object
Closing Date            object
Fund  Sort ascending     int64
dtype: object

In [24]:
df_bancos.head()

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund Sort ascending
0,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
1,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
2,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
3,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
4,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540

In [26]:
import pandas as pd


# Criar um dicionário com nomes e idades

dados = {

    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],

    'Idade': [25, 30, 22, 35, 28]
}

# Criar uma série a partir do dicionário

serie_idades = pd.Series(dados['Idade'], index=dados['Nome'])

# Exibir a série de idades
print("Série de Idades:")
print(serie_idades)

Série de Idades:
Alice    25
Bob      30
Carol    22
David    35
Eve      28
dtype: int64

In [30]:
# Calcular a média das idades
media_idades = serie_idades.mean()
print("\nMédia de Idades:", media_idades)

Média de Idades: 28.0