<a href="https://colab.research.google.com/github/Allanjs1/python.unopar/blob/main/Untitled1_ipynb5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

# Passo 1: Conectar ao banco de dados SQLite (ou criá-lo, se não existir)

conn = sqlite3.connect("funcionarios.db")

In [3]:
# Passo 2: Criar a tabela de funcionários

cursor = conn.cursor()

cursor.execute('''

    CREATE TABLE IF NOT EXISTS funcionarios (

        id INTEGER PRIMARY KEY,

        nome TEXT,

        cargo TEXT,

        salario REAL

    )

''')

In [9]:
# Passo 3: Inserir um novo funcionário na tabela

novo_funcionario = (2, "Ana", "Inspetora", 7000.00)

cursor.execute("INSERT INTO funcionarios VALUES (?, ?, ?, ?)", novo_funcionario)

conn.commit()

In [12]:
# Passo 4: Consultar e exibir funcionários

cursor.execute("SELECT * FROM funcionarios")

funcionarios = cursor.fetchall()

print("Funcionários Cadastrados:")

for funcionario in funcionarios:

    print(funcionario)

Funcionários Cadastrados:
(1, 'João Silva', 'Analista', 5500.0)

In [7]:
# Passo 5: Atualizar informações de um funcionário

atualizacao = ("João Silva", 5500.00, 1)

cursor.execute("UPDATE funcionarios SET nome = ?, salario = ? WHERE id = ?", atualizacao)

conn.commit()

In [11]:
# Passo 6: Deletar um funcionário da tabela

id_funcionario_para_deletar = 2

cursor.execute("DELETE FROM funcionarios WHERE id = ?", (id_funcionario_para_deletar,))

conn.commit()